h2 {
    font-family: 'Rowdies', cursive;
}

.user-add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 1px solid #009999;
    padding: 15px; 
    width: 400px;
}

.user-add-form input {
    max-width: 50%;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}

.user-add-form label {
    max-width: 50%;
    font-family: 'Red Rose', cursive;
}


.btnsub{
  background-color: #009999;
  border: none;
  width: 160px;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btnsub:hover {
    background-color: #006363;
  }

  .error{
      color: red;
  }
 